input{
    padding:20px;
    width:200px;
    color:black;
}
button {
    width:70px;
    height:70px;
    background-color:black;
    color:white;
    border-radius: 20%;
}
.box {
    border:2px solid black;
    margin-left:590px;
    margin-right:500px;
    padding: 40px;
    background-color:aqua;
    margin-bottom: 100px;
}
#op {
    background-color:indianred;
}
#clear{
    background-color: green;
}
#equal {
    background-color:  red;
}
body{
    background-color:black;
}
h1 {
    text-align:center;
    color:white;
}
button:hover {
    color: aqua;

}